.navbar {

    background-color: #BC4A3C;
}

.navbar-brand {

    color:beige;
} 

.card {
    justify-content: center;
}

body {background-color: wheat;}

footer {background-color: #BC4A3C;
color:ghostwhite;
font-family: Verdana, Geneva, Tahoma, sans-serif;}